/***** begin block [fonts] for {index.html and catalog.html} *****/

	@font-face {
		font-family: "Roboto";
		src: 	url("../fonts/roboto.woff2") format("woff2"),
					url("../fonts/roboto.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "Roboto";
		src: 	url("../fonts/robotobold.woff2") format("woff2"),
					url("../fonts/robotobold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: "Roboto";
		src: 	url("../fonts/robotomedium.woff2") format("woff2"),
					url("../fonts/robotomedium.woff") format("woff");
		font-weight: 500;
		font-style: normal;
	}

/***** end block [fonts] for {index.html and catalog.html} *****/

/***** begin block [body] for {index.html} *****/

	body {
		position: relative;

		padding: 0;
		margin: 0;
		width: auto;
		height: 100%;
	}

	.visually-hidden {
		position: absolute;
		top: -3000px;
		left: -2000px;
		
		width: 0;
		height: 0;
		margin: -1px;
		padding: 0;
		clip: rect(0, 0, 0, 0);
		overflow: hidden;
		
		border: 0;
	}

	.button {
		display: block;

		background-color: #e74a35;
		background-image: linear-gradient(to top, #e74a35, #f26843);
		box-shadow: 0px 1px 2px 0 #ac1000;
		border: none;
	}

	.button:hover {
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
												linear-gradient(to top, #e74a35, #f26843);
	}

	.button:active {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
												linear-gradient(to bottom, #e74a35, #f26843);
		box-shadow: inset 0px 2px 2px 0 #942718;
	}

	/***** begin block [.page-header.header-index] for {index.html} *****/

		.page-container {
			width: 100%;
		}

		.page-container.slide-1 {

			background: #849d8f;
			background-image: 	url("../img/bg-page-slide-1.png"),
								url("../img/bg-lighting-slide-1.png");
			background-position: center 83px, top center;
			background-repeat: no-repeat, no-repeat;
			background-size: 647px 584px, 1045px 881px;

		}

		.aligment-wrapper {
			width: 1146px;
			margin-top: 0;
			margin-right: auto;
			margin-bottom: 0;
			margin-left: auto;

			padding-top: 0;
			padding-right: 27px;
			padding-bottom: 0;
			padding-left: 27px;
		}

		/***** begin block [.page-header] for {index.html} *****/

			.page-header.header-index {
				position: relative;

				width: 100%;
				padding-top: 9px;
				padding-right: 0;
				padding-bottom: 0;
				padding-left: 0;
			}

			.header-row {
				width: 100%;
				display: flex;
				flex-direction: row;

			}

			.dropdown-part {
				/*display: none;/**/
				position: absolute;
				z-index: 10;
			}

			.dropdown-main-menu,
			.dropdown-searching-wrapper,
			.dropdown-sign-control {
				display: none;
			}

			/***** begin block [.page-navigation] for {index.html} *****/

				.page-navigation {
					display: flex;
					flex-direction: row;
					margin-top: 0;
					margin-right: 0;
					margin-bottom: 0;
					margin-left: 0;

					padding-top: 13px;
					padding-right: 0;
					padding-bottom: 13px;
					padding-left: 10px;
				}

				.page-navigation-list {
					display: flex;
					flex-direction: row;

					margin: 0;
					padding: 0;

					list-style: none;
				}

				.page-navigation-item {
					position: relative;

					margin-top: 0;
					margin-right: 0;
					margin-bottom: 0;
					margin-left: 0; 
				}

				.page-navigation-item:last-child {
					margin-right: 0;
					margin-left: 0;
				}

				.page-navigation-button {
					display: block;

					padding-top: 7px;
					padding-right: 14px;
					padding-bottom: 7px;
					padding-left: 14px;

					font-family: "Roboto", Arial, Helvetica, sans-serif;
					font-weight: bold;
					font-size: 16px;
					line-height: 1.13;
					color: #ffffff;
					
					border-radius: 16px;
				}

				.page-navigation-item:hover .page-navigation-button {
					color: #000000;

					background-color: #f7f6f3;
					text-decoration: none;
				}

				.page-navigation-button:active {
					background-color: #ededed;
					box-shadow: inset 0 2px 1px 0 #696969;
				}

				.page-navigation-button.current {
					background-color: #d07058;
				}				

				/***** begin block [dropdown-main-menu] for {index.html} *****/

					.dropdown-main-menu {
						position: absolute;
						left: -7px;
						top: 38px;

						box-sizing: border-box;
						margin: 0;
						padding-top: 10px;
						padding-right: 0;
						padding-bottom: 8px;
						padding-left: 0;

						background-color: #f8f7f4;
						border-radius: 5px;
						box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
					}

					.dropdown-menu-title {

						margin-top: 0;
						margin-right: 9px;
						margin-bottom: 0;
						margin-left: 6px;
						
						padding-top: 0;
						padding-right: 15px;
						padding-bottom: 13px;
						padding-left: 15px;

						font-family: "Roboto", Arial, Helvetica, sans-serif;
						font-weight: bold;
						font-size: 14px;
						line-height: 1.14;
						color: #323232;

						border-bottom: 1px solid rgba(0, 0, 0, 0.2);
					}

					.page-navigation-catalog:hover .dropdown-main-menu {
						display: block;
					}

					.dropdown-menu-list {
						min-width: 143px;
						margin: 0;
						padding: 0;

						list-style: none;
					}

					.dropdown-menu-item {
						width: 100%;
					}

					.dropdown-menu-button {
						display: block;

						padding-top: 10px;
						padding-right: 10px;
						padding-bottom: 6px;
						padding-left: 20px;

						font-family: "Roboto", Arial, Helvetica, sans-serif;
						font-weight: normal;
						font-size: 14px;
						line-height: 1.14;
						color: #323232;
						text-decoration: none;
					}

					.dropdown-menu-button:hover {
						background-color: #fbded7;
					}

					.dropdown-menu-button:active {
						background-color: #f6b5a5;
					}

					.dropdown-menu-item.current {
						background-color: #d07058;
					}

				/***** end block [dropdown-main-menu] for {index.html} *****/

			/***** end block [.page-navigation] for {index.html} *****/

			/***** begin block [.header-toolbar] for {index.html} *****/

				.header-toolbar {
					display: flex;
					flex-direction: row;

					margin-top: 0;
					margin-right: 0;
					margin-bottom: 0;
					margin-left: auto;
				}

				.toolbar-list {
					display: flex;
					flex-direction: row;

					margin: 0;
					padding-top: 14px;
					padding-right: 0;
					padding-bottom: 14px;
					padding-left: 0;


					list-style: none;
				}

				.toolbar-item {
					position: relative;

					margin-top: 0;
					margin-right: 10px;
					margin-bottom: 0;
					margin-left: 0;
				}

				.toolbar-item:last-child {
					margin-right: 0;
				}

				.toolbar-button {
					position: relative;
					display: block;

					margin: 0;
					padding-top: 8px;
					padding-right: 16px;
					padding-bottom: 9px;
					padding-left: 16px;
					box-sizing: border-box;

					font-family: "Roboto", Arial, Helvetica, sans-serif;
					font-weight: 500;
					font-size: 14px;
					line-height: 1.14;
					color: #ffffff;
					text-decoration: none;

					background-color: rgba(254, 254, 254, 0.2);
					border-radius: 16px;
				}

				.toolbar-button:hover {
					color: #000000;

					background-color: #f8f7f4;
				}

				.toolbar-searching-button {
					width: 32px;
					height: 32px;
					margin: 0;
					padding-top: 7px;
					padding-left: 7px;

					font-size: 0;
				}

				.toolbar-searching-button .icon-searching-image {
					fill: #ffffff;
				}

				.toolbar-searching-button:hover .icon-searching-image {
					fill: #000000;
				}

				.toolbar-searching:hover .dropdown-searching-wrapper {
					display: block;
				}


				/***** begin block [.dropdown-searching-wrapper] for {index.html} *****/

					.dropdown-searching-wrapper {
						position: absolute;
						top: 36px;
						right: 0;

						margin: 0;
						padding-top: 20px;
						padding-right: 15px;
						padding-bottom: 20px;
						padding-left: 15px;

						background-color: #f8f7f4;
						border-radius: 5px;
						box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
					}

					.searching-string-input {
						display: block;

						width: 312px;
						box-sizing: border-box;
						margin: 0;
						padding-top: 9px;
						padding-right: 13px;
						padding-bottom: 10px;
						padding-left: 13px;

						font-family: "Roboto", Arial, Helvetica, sans-serif;
						font-weight: bold;
						font-size: 14px;
						line-height: 1.71;
						color: #323232;

						background-color: #ffffff;
						border-radius: 5px;
						border: 1px solid #d3d3d2;
					}

					.searching-string-input:hover {
						padding-top: 8px;
						padding-bottom: 9px;
						padding-left: 12px;

						border: 2px solid #c7c6c5;
					}

					.searching-string-input:focus {
						padding-top: 8px;
						padding-bottom: 9px;
						padding-left: 12px;

						border: 2px solid #8fbdec;
						outline: none;
					}

					.searching-string-input:-moz-placeholder {
						font-weight: normal;
						color: #999999;
					}

					.searching-string-input::-moz-placeholder {
						font-weight: normal;
						color: #999999;
					}

					.searching-string-input::-webkit-input-placeholder {
						font-weight: normal;
						color: #999999;
					}
					
					.searching-string-input:-ms-placeholder {
						font-weight: normal;
						color: #999999;
					}

					.searching-string-input::placeholder {
						font-weight: normal;
						color: #999999;
					}

				/***** end block [.dropdown-searching-wrapper] for {index.html} *****/

				.toolbar-sign-in-button {
					padding-left: 43px;
					padding-right: 17px;
				}

				.icon-login-image {
					position: absolute;
					top: 6px;
					left: 16px;
					display: block;

					width: 21px;
					height: 19px;

					fill: #ffffff;
				}

				.toolbar-sign-in-button:hover .icon-login-image {
					fill: #000000;
				}

				.toolbar-sign-in:hover .dropdown-sign-control {
					display: block;
				}

				/***** begin block [.dropdown-sign-wrapper] for {index.html} *****/

					.dropdown-sign-control {
						position: absolute;
						top: 36px;
						right: 0;

						padding-top: 20px;
						padding-right: 17px;
						padding-bottom: 22px;
						padding-left: 19px;

						background-color: #f8f7f4;
						border-radius: 5px;
						box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
					}

					.sign-in-form {
						display: flex;
						flex-direction: column;
					}

					.sign-in-control {
						display: flex;
						flex-direction: row;
						align-items: flex-start;
					}

					.refresh-user-data {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
					}

					.sign-in-login,
					.sign-in-password {
						box-sizing: border-box;
						width: 241px;

						margin-top: 0;
						margin-right: 0;
						margin-bottom: 20px;
						margin-left: 0;

						padding-top: 9px;
						padding-right: 14px;
						padding-bottom: 10px;
						padding-left: 14px;

						font-family: "Roboto", Arial, Helvetica, sans-serif;
						font-weight: bold;
						font-size: 14px;
						line-height: 1.71;
						color: #323232;

						border-radius: 5px;
						border: 1px solid #d3d3d2;
						background-color: #ffffff;
					}

					.sign-in-login:-moz-placeholder,
					.sign-in-password:-moz-placeholder {
						font-weight: normal;
						color: #999999;
					}

					.sign-in-login::-moz-placeholder,
					.sign-in-password::-moz-placeholder {
						font-weight: normal;
						color: #999999;
					}

					.sign-in-login::-webkit-input-placeholder	,
					.sign-in-password::-webkit-input-placeholder {
						font-weight: normal;
						color: #999999;
					}


					.sign-in-login:-ms-placeholder,
					.sign-in-password:-ms-placeholder {
						font-weight: normal;
						color: #999999;
					}


					.sign-in-login::-ms-placeholder,
					.sign-in-password::-ms-placeholder {
						font-weight: normal;
						color: #999999;
					}

					.sign-in-login::placeholder,
					.sign-in-password::placeholder {
						font-weight: normal;
						color: #999999;
					}

					.send-user-data {
						min-width: 100px;
						box-sizing: border-box;

						margin: 0;
						padding-top: 11px;
						padding-bottom: 10px;

						font-family: "Roboto", Arial, Helvetica, sans-serif;
						font-weight: bold;
						font-size: 18px;
						line-height: 1.33;
						color: #fefefe;

						border-radius: 18px/23px;
					}

					.refresh-user-data {
						padding-top: 0;
						padding-right: 0;
						padding-bottom: 0;
						padding-left: 21px;

					}

					.restore-password-button,
					.add-user-button {
						font-family: "Roboto", Arial, Helvetica, sans-serif;
						font-weight: normal;
						font-size: 13px;
						line-height: 1.85;
						color: #323232;
					}

					.add-user-button {
						margin-top: -4px;
					}

				/***** end block [.dropdown-sign-wrapper] for {index.html} *****/

				.toolbar-cart-button {
					padding-left: 45px;
				}

				.toolbar-cart-button .icon-cart-empty {
					display: block;
					position: absolute;
					top: 6px;
					left: 16px;

					width: 21px;
					height: 20px;

					fill: #ffffff;
				}

				.toolbar-cart-button:hover .icon-cart-empty {
					fill: #000000;
				}

				.toolbar-sign-in-button::before {
					display: block;

					width: 21px;

					content: "";
				}

				.header-contact {
					position: absolute;
					bottom: -42px;
					right: 0;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
				}

				.header-contact .working-time {
					margin-top: 0;
					margin-right: 0;
					margin-bottom: 5px;
					margin-left: 0;
					padding: 0;

					font-family: "Roboto", Arial, Helvetica, sans-serif;
					font-weight: bold;
					font-size: 14px;
					line-height: 1.14;
					color: #ffffff;
				}

				.header-contact .header-contact-phone {
					font-family: "Roboto", Arial, Helvetica, sans-serif;
					font-weight: bold;
					font-size: 22px;
					line-height: 1.09;
					color: #ffffff;
					text-decoration: none;
					letter-spacing: -0.05px;
				}

			/***** end block [.header-toolbar] for {index.html} *****/			

		/***** end block [.page-header] for {index.html} *****/		

	/***** end block [.page-header.header-index] for {index.html} *****/

	/***** begin block [.page-container.main-index] for {index.html} *****/

		.page-slider-section {
			position: relative;
			margin: 0;

			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			padding-left: 0;
		}

		.page-slider-control {
			position: relative;
			left: 0;
			top: 486px;
			display: flex;
			flex-direction: row;
			z-index: 10;

			margin: 0;
			padding: 0;

			list-style: none;
		}

		.page-slider-item {
			margin-top: 0;
			margin-right: 8px;
			margin-bottom: 0;
			margin-left: 0;
		}

		.page-slider-button {
			width: 21px;
			height: 21px;
			padding: 0;
			margin: 0;

			font-size: 0;

			border: 2px solid #ffffff;
			border-radius: 50%;
			background-color: transparent;
			cursor: pointer;
		}

		.page-slider-item.active .page-slider-button {
			background-color: #ffffff;
		}

		.page-slider-item .page-slider-button:hover {
			background-color: rgba(248, 247, 244, 0.4);
		}

		.page-slider-button:active {
			background-color: #ffffff;
		}

		.page-slider-container {
			position: relative;
			display: flex;
			flex-direction: row;

			min-height: 575px;
		}

		.page-slider {
			display: none;
		}

		.page-slider.active {
			display: flex;
			flex-direction: column;
			align-items: center;

			box-sizing: border-box;
			width: 100%;
			padding-top: 292px;
			padding-right: 0;
			padding-bottom: 40px;
			padding-left: 0;
		}

		.page-slide-title {
			margin-top: 0;
			margin-right: 0;
			margin-bottom: 32px;
			margin-left: 0;
			padding: 0;

			width: 100%;
			box-sizing: border-box;
			padding-left: 230px;
			padding-right: 230px;

			font-family: "Roboto", Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: 60px;
			line-height: 1;
			color: #ffffff;
			text-align: center;
			letter-spacing: 0.1px;
		}

		.add-cart {
			box-sizing: border-box;

			margin: 0;
			padding-top: 8px;
			padding-right: 41px;
			padding-bottom: 12px;
			padding-left: 41px;
						
			font-family: "Roboto", Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: 32px;
			line-height: 1.38;
			color: #ffffff;
			text-decoration: none;

			text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
			border-radius: 34px/50%;
			box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
		}

	/***** end block [.page-container.main-index] for {index.html} *****/

/***** end block [body] for {index.html} *****/

		

		.hit-price {
			font-family: "Roboto", Arial, Helvetica, sans-serif;
			font-weight: bold;
		}

		.interactive-map {
			width: 100%;
			min-width: 1200px;
			height: 430px;
			border: none;
		}