/***** begin block [fonts] for {index.html and catalog.html} *****/

	@font-face {
		font-family: "Roboto";
		src: 	url("../fonts/roboto.woff2") format("woff2"),
					url("../fonts/roboto.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "Roboto";
		src: 	url("../fonts/robotobold.woff2") format("woff2"),
					url("../fonts/robotobold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: "Roboto";
		src: 	url("../fonts/robotomedium.woff2") format("woff2"),
					url("../fonts/robotomedium.woff") format("woff");
		font-weight: 500;
		font-style: normal;
	}

/***** end block [fonts] for {index.html and catalog.html} *****/

/***** begin block [body] for {index.html} *****/

	body {
		position: relative;

		padding: 0;
		margin: 0;
		width: auto;
		height: 100%;


	}

	/***** begin block [.page-header.header-index] for {index.html} *****/

		.page-container {
			width: 100%;
		}

		.page-container.slide-1 {

			background: #849d8f;
			background-image: 	url("../img/bg-page-slide-1.png"),
								url("../img/bg-lighting-slide-1.png");
			background-position: center 83px, top center;
			background-repeat: no-repeat, no-repeat;
			background-size: 647px 584px, 1045px 881px;

		}

		.aligment-wrapper {
			width: 1146px;
			margin-top: 0;
			margin-right: auto;
			margin-bottom: 0;
			margin-left: auto;

			padding-top: 0;
			padding-right: 27px;
			padding-bottom: 0;
			padding-left: 27px;
		}

		/***** begin block [.page-header] for {index.html} *****/

			.page-header.header-index {
				position: relative;

				width: 100%;
				padding-top: 9px;
				padding-right: 0;
				padding-bottom: 0;
				padding-left: 0;
			}

			.header-row {
				width: 100%;
				display: flex;
				flex-direction: row;

			}

			.dropdown-part {
				/*display: none;/**/
				position: absolute;
			}

			.dropdown-main-menu {

			}

			/***** begin block [.page-navigation] for {index.html} *****/

				.page-navigation {
					margin-top: 0;
					margin-right: 0;
					margin-bottom: 0;
					margin-left: 0;

					padding-top: 13px;
					padding-right: 0;
					padding-bottom: 0;
					padding-left: 10px;
				}

				.page-navigation-list {
					display: flex;
					flex-direction: row;

					margin: 0;
					padding: 0;

					list-style: none;
				}

				.page-navigation-item {
					position: relative;

					margin-top: 0;
					margin-right: 0;
					margin-bottom: 0;
					margin-left: 0; 
				}

				.page-navigation-item:last-child {
					margin-right: 0;
					margin-left: 0;
				}

				.page-navigation-button {
					display: block;

					padding-top: 7px;
					padding-right: 14px;
					padding-bottom: 7px;
					padding-left: 14px;

					font-family: "Roboto", Arial, Helvetica, sans-serif;
					font-weight: bold;
					font-size: 16px;
					line-height: 1.13;
					color: #ffffff;
					
					border-radius: 16px;
				}

				.page-navigation-button:hover {
					color: #000000;

					background-color: #ffffff;
					text-decoration: none;
				}

				.dropdown-main-menu {
					position: absolute;
					left: -7px;
					top: 38px;

					box-sizing: border-box;
					padding-top: 10px;
					padding-right: 9px;
					padding-bottom: 8px;
					padding-left: 5px; 

					background-color: #f8f7f4;
					border-radius: 5px;
					box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
				}

				.dropdown-menu-title {

					margin-top: 0;
					margin-right: 0;
					margin-bottom: 0;
					margin-left: 1px;
					
					padding-top: 0;
					padding-right: 15px;
					padding-bottom: 13px;
					padding-left: 15px;

					font-family: "Roboto", Arial, Helvetica, sans-serif;
					font-weight: bold;
					font-size: 14px;
					line-height: 1.14;
					color: #323232;

					border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				}

				.page-navigation-catalog:hover .dropdown-main-menu {
					display: block;
				}

				.dropdown-menu-list {
					margin: 0;
					padding: 0;

					list-style: none;
				}

				.dropdown-menu-button {
					display: block;
					padding-top: 10px;
					padding-right: 13px;
					padding-bottom: 6px;
					padding-left: 15px;

					font-family: "Roboto", Arial, Helvetica, sans-serif;
					font-weight: normal;
					font-size: 14px;
					line-height: 1.14;
					color: #323232;
					text-decoration: none;
					white-space: nowrap;
				}

			/***** begin block [.page-navigation] for {index.html} *****/

			.header-toolbar {
				margin-top: 0;
				margin-right: 0;
				margin-bottom: 0;
				margin-left: auto;
			}

			.toolbar-list {
				display: flex;
				flex-direction: row;

				margin: 0;
				padding-top: 14px;
				padding-right: 0;
				padding-bottom: 0;
				padding-left: 0;


				list-style: none;
			}

			.toolbar-item {
				margin-top: 0;
				margin-right: 10px;
				margin-bottom: 0;
				margin-left: 0;

				padding-top: 7px;
				padding-right: 16px;
				padding-bottom: 7px;
				padding-left: 16px;

				background-color: rgba(254, 254, 254, 0.2);
				border-radius: 16px;
			}

			.toolbar-item:last-child {
				margin-right: 0;
			}

			.toolbar-button {
				margin: 0;
				padding: 0;

				font-family: "Roboto", Arial, Helvetica, sans-serif;
				font-weight: 500;
				font-size: 14px;
				line-height: 1.14;
				color: #ffffff;
				text-decoration: none;
			}

			.toolbar-searching {
				width: 32px;
				height: 32px;
				font-size: 0;
			}

			.toolbar-sign-in {
				padding-left: 28px;
			}

			.toolbar-cart {
				padding-left: 29px;
			}

			.header-contact {
				position: absolute;
				bottom: -42px;
				right: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}

			.header-contact .working-time {
				margin-top: 0;
				margin-right: 0;
				margin-bottom: 5px;
				margin-left: 0;
				padding: 0;

				font-family: "Roboto", Arial, Helvetica, sans-serif;
				font-weight: bold;
				font-size: 14px;
				line-height: 1.14;
				color: #ffffff;

			}

			.header-contact .header-contact-phone {
				font-family: "Roboto", Arial, Helvetica, sans-serif;
				font-weight: bold;
				font-size: 22px;
				line-height: 1.09;
				color: #ffffff;
				text-decoration: none;
				letter-spacing: -0.05px;
			}
			

		/***** begin block [.page-header] for {index.html} *****/		

	/***** end block [.page-header.header-index] for {index.html} *****/

/***** end block [body] for {index.html} *****/

		.page-slader-control {
			margin: 0;
			padding: 0;

			list-style: none;
		}

		.hit-price {
			font-family: "Roboto", Arial, Helvetica, sans-serif;
			font-weight: bold;
		}

		.interactive-map {
			width: 100%;
			min-width: 1200px;
			height: 430px;
			border: none;
		}